@media screen and (max-width: 1242px) {
  .disable-sideImage-for-width {
    display: none !important;
  }
}
@media screen and (min-width: 1000px) {
  .disable-in-desktop {
    display: none !important;
  }
  .content-width {
    width: 75%;
  }
}
@media screen and (max-width: 1000px) {
  .disable-in-mobile {
    display: none !important;
  }
  .content-width {
    width: 100%;
  }
}
/* the font format is amazing but it works */
@font-face {
  font-family: sourceHans;
  src: url("/fonts/SourceHanSansSC-VF.ttf.woff2") format("ttf");
}
@font-face {
  font-family: cascadiaMono;
  src: url("/fonts/CascadiaMonoNF.woff2") format("woff2");
}
@font-face {
  font-family: cascadiaMonoItalic;
  src: url("/fonts/CascadiaMonoItalic.woff2") format("woff2");
}
@font-face {
  font-family: pixel;
  src: url("/fonts/PerfectDOSVGA437.ttf") format("woff2");
}
* {
  font-family: cascadiaMono, sourceHans;
}

body {
  padding: 0.00001px;
  width: 100%;
  height: 100%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: purple;
}

.sideImage-container {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  width: 121px;
  height: 100%;
}

.sideImage-container-right {
  right: 0;
}

.sideImage-filling {
  flex-grow: 1;
  background-color: #9335bc;
}

.sideImage {
  background: no-repeat url("/image/bg_side_bar_evening2.png");
  width: 121px;
  height: 540px;
  display: inline-block;
  align-self: flex-end;
}

.sideImage-right {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  background: no-repeat url("/image/bg_side_bar_evening2.png");
}

.banner {
  position: relative;
  text-align: center;
  color: white;
  background-color: #ADD8E6;
  padding: 0;
  margin: 0;
}
.banner img {
  width: 100%;
  height: 38.2vh;
}
.banner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.banner .text h1, .banner .text p {
  padding: 0;
  margin: 0;
  font-family: cascadiaMonoItalic;
  font-feature-settings: "ss01";
  line-height: 4vh;
  font-size: 8vh;
}
.banner .text h1 {
  -webkit-text-stroke: 3px black; /* width and color */
}
.banner .text p {
  padding-top: 3vh;
  font-size: 3vh;
}

.nav {
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  display: flex;
  flex: auto;
  flex-direction: row;
  background-color: #ADD8E6;
}

.mobile-nav {
  padding: 10px;
  background-color: #ADD8E6;
}

.nav-menu-item {
  width: 200px;
  height: 40px;
  margin: 3px;
  margin-bottom: 10px;
}
.nav-menu-item img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 40px;
  transform: translate(-50%, -50%);
}
.nav-menu-item a, .nav-menu-item p {
  position: relative;
  line-height: 40px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: pixel;
}
.nav-menu-item a:hover .enabledNavLinkImage {
  content: url("/image/BaseButtonHovered.png");
}
.nav-menu-item a:active .enabledNavLinkImage {
  content: url("/image/BaseButtonPressed.png");
}

.paginator-nav {
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  display: flex;
  flex: auto;
  flex-direction: row;
  border-top: dotted 2px purple;
  padding-top: 7px;
}

.enabledNavLinkImage {
  content: url("/image/BaseButton.png");
}

.disabledNavLinkImage {
  content: url("/image/BaseButtonDisabled.png");
}

.disabledNavLink {
  pointer-events: none;
  cursor: default;
}

.aside {
  padding: 15px;
  margin: 0;
  border-left: 2px solid purple;
  width: 25%;
}

.table-of-content {
  position: sticky;
  top: 20px;
  height: 30vh;
  overflow-x: auto;
}
.table-of-content p {
  text-align: center;
}
.table-of-content {
  border: dotted 2px purple;
}
.table-of-content ul {
  padding-left: 1.2em;
}

.footer {
  text-align: center;
  padding-bottom: 30px;
  font-family: cascadiaMono;
}

.post {
  border: 3px inset #ADD8E6;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
}
.post * {
  overflow: auto;
}

@media (min-width: 1242px) {
  .main {
    padding-left: 121px;
    padding-right: 121px;
    width: calc(100vw - 242px);
    height: 100%;
  }
  .max-width {
    width: calc(100vw - 242px) !important;
  }
}
@media not (min-width: 1242px) {
  .main {
    padding-left: 0;
    padding-right: 0;
    width: 100vw;
    height: 100%;
  }
  .max-width {
    width: 100vw !important;
  }
}
.content-and-aside {
  display: flex;
  height: 100%;
  border-bottom: 2px solid purple;
  flex-direction: row;
}

.content {
  padding: 15px;
  margin: 0;
  overflow: auto;
}

/*# sourceMappingURL=style.css.map */